<div class="col-xs-12 article__contents__preview">
  <h4>プレビューエリア</h4>
  <hr/>
  <h2 ng-if="mainTitle">{{ mainTitle }}</h2>
  <div class="article__contents__container">
    <div ng-repeat="content in contentsArea track by $index">
      <preview-text data="content.element_data" tag="content.tag_name" ng-if="content.tag_name == 'sub_head' || content.tag_name == 'description'"></preview-text>
      <img class="article__contents__preview__thumb" ng-if="content.tag_name == 'img' || content.tag_name == 'thumbnail' || content.tag_name == 'title_img' || content.tag_name == 'subtitle_img' || content.tag_name == 'main_visual_image'" picture="content.imagePath"/>
      <preview-item data="content.element_data" ng-if="content.tag_name == 'item'"></preview-item>
      <instagram data="content.element_data" ng-if="content.tag_name == 'instagram'"></instagram>
    </div>
  </div>
</div>
