<div class="tab-pane" id="tab3" ng-class="{'active':selectedTab == 2}">
  <header class="panel-heading">
    <i class="fa fa-picture-o article__contents__icon">
      アイテムの登録
    </i>
  </header>
  <div class="panel-body">
    <input class="form-control" id="trendwordName" name="trendwordName" ng-model="trendwordName" placeholder="ブランド名を入力すると関連するアイテムが検索できます" type="text" value="{{ trendwordName }}"></input>
    <div ng-if="items.length > 0">
      <div class="article__contents__item" ng-repeat="item in items">
        <img ng-click="selectItem(item)" ng-src="{{ item.image.medium_thumb.url %> %> "/>
      </div>
      <div ng-if="lastPage == false">
        <button class="btn-default btn-xs" ng-click="readMore()">さらにアイテムを読み込む</button>
      </div>
    </div>
    <div ng-if="selectedItems.length > 0">
      <div class="article__contents__item" ng-repeat="item in selectedItems">
        <img ng-src="{{ item.image.medium_thumb.url %> %> "/>
      </div>
      <hr/>
      <button class="btn-info btn-md" ng-click="insertItems()">アイテムを登録する</button>
    </div>
  </div>
  <header class="panel-heading">
    <i class="fa fa-instagram article__contents__icon"></i>
    Instagramの登録
  </header>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <input class="form-control" name="instagram" ng-model="instagram" placeholder="Instagramの写真のURLを入力してください" type="text"></input>
        <div ng-show="instagram">
          <button class="btn-info" ng-click="insertInstagram()">写真を登録</button>
        </div>
      </div>
      <div class="col-xs-6" ng-show="instagram">
        <instagram data="instagram"></instagram>
      </div>
    </div>
  </div>
  <header class="panel-heading">
    <i class="fa fa-edit article__contents__icon"></i>
    画像登録
  </header>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="row"></div>
      <div class="col-xs-12">
        <div class="form-group">
          <label class="col-xs-1">画像の説明文</label>
          <div class="col-xs-10">
            <textarea class="form-control" cols="40" name="mainTitle" ng-model="imageDescription" rows="3" type="text"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-1">引用元画像URL</label>
          <div class="col-xs-10">
            <input class="form-control" ng-model="originURL" type="text"></input>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-1">アップロード画像</label>
          <div class="col-xs-10">
            <input class="imageFile" file-model="imageFile" ng-hide="remoteImageURL" type="file"></input>
            <img ng-if="imageFileSrc" ng-src="{{imageFileSrc %> %>"/>
            <br/>
            <button class="btn-info" ng-click="uploadImage(imageFileSrc,'img')" ng-if="imageFileSrc">アップロードする</button>
            <input class="form-control" ng-hide="imageFileSrc" ng-model="remoteImageURL" placeholder="外部サイトから取り込みたい場合にはこちらに入力"></input>
            <article_image>
            </article_image>
            <br/>
            <button class="btn-info" ng-click="remoteImage()" ng-if="remoteImageURL">リモートの画像を取得してアップロードする</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
