<div class="tab-pane" id="tab1" ng-class="{'active':selectedTab == 0}">
  <section class="panel" ng-hide="requiredElementsFlag">
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="row">
          <div class="form-group">
            <label class="col-xs-1">タイトル</label>
            <div class="col-xs-10">
              <input size="80" class="article__contents__title article__contents__title--main" name="mainTitle" ng-model="mainTitle" placeholder="記事コンテンツのメインタイトルを入力してください" type="text"></input>
            </div>
          </div>
          <div class="form-group" ng-show="mainTitle">
            <label class="col-xs-1">（任意）タイトル画像の設定</label>
            <div class="col-xs-10">
              <input class="imageFile" file-model="titleImageFile" type="file"></input>
              <div ng-if="titleImageFileSrc">
                <img ng-src="{{titleImageFileSrc %> %>"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-1">サブタイトル</label>
            <div class="col-xs-10">
              <input size="80" class="article__contents__title article__contents__title--sub" name="subTitle" ng-model="subTitle" placeholder="記事コンテンツのメインタイトル上部に表示される文字を入力してください" type="text"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-1">ヘッダーテキスト</label>
            <div class="col-xs-8">
              <textarea cols="80" ng-model="leadingSentence" rows="5"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div ng-show="mainTitle && subTitle && mainVisualImageFileSrc && leadingSentence">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-8">
            <button class="btn-info btn-lg" ng-click="requiredElements()">必須項目を設定</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
