<section class='article__main'>
  <section class='wrapper'>
    <div class='row'>
      <div class='col-sm-12'>
        <section class='panel'>
          <header class='panel-heading'>
            <h3>
              タイトル：<%= @article[:title] %>
            </h3>
          </header>
          <div class='panel-body'>
            <div class='position-center'>
              <%= render partial: 'form',locals: {article: @article} %>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12'>
        <section class='panel'>
          <header class='panel-heading'>
            <h4>
              <%= link_to '戻る', admin_articles_path %>
            </h4>
          </header>
        </section>
      </div>
    </div>
  </section>
</section>
