<div class='container-fluid'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= link_to '詳細画面へ', article_path(article.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
